QScrollBar:vertical {
	background-color: rgba( 0, 0, 0, 72% );
	max-width: 8px;
	border-radius: 4px;
	padding: 1px;
}

QScrollBar::handle:vertical {
	background-color: silver;
	max-width: 6px;
	border-radius: 3px;
}

QScrollBar::sub-page:vertical {
	background-color: rgba( 0, 0, 0, 72% );
}

QScrollBar::add-page:vertical {
	background-color: rgba( 0, 0, 0, 72% );
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	width: 0px;
	height: 0px;
}
