Source: newbreeze-plugins
Section: devel
Priority: optional
Maintainer: Marcus Britanicus <marcusbritanicus@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/marcusbritanicus/NewBreeze/

Package: newbreeze-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, newbreeze-common (= 3.0.0-rc7), newbreeze (= 3.0.0-rc7)
Description: Qt based lightweight and fast file manager
 Built on top of the Powerful Qt5 GUI Toolkit, NewBreeze is sleek,
 stylish and fast with some amazing features.
 .
 This package provides the default set of plugins for NewBreeze
