QToolButton {
	text-align: center;
	border: none;
	margin: 0px;
	padding: 0px;
}

QToolButton:hover {
	border: none;
	color: skyblue;
}

QToolButton:pressed {
	margin: 0px;
	padding: 0px;
}

QToolButton::down-arrow {
	subcontrol-position: left center;
}

QToolButton::up-arrow {
	subcontrol-position: left center;
}
