QPushButton {
	text-align: left;
	color: <textcolor>;
	border-radius: 5px;
	margin-top: 5px;
}

QPushButton::hover {
	color: lightblue;
	background: rbga( <72> );
}

QToolTip {
	border: none;
	color: <textcolor>;
	font-family: Architects Daughter;
	background-color: rbga( <27> );
	padding: 2px;
	border-radius: 5px;
}

QLineEdit {
	border: none;
	outline: none;
}
