QWidget {
	color: <textcolor>;
	font-weight: bold;
}

QToolButton {
	background: transparent;
	border: 0px;
}

QToolButton#closeBtn:hover {
	color: red;
}

QToolButton#minBtn:hover {
	color: blue;
}

QToolButton#maxBtn:hover {
	color: blue;
}

QLabel {
	background: transparent;
	padding-top: 5px;
	padding-left: 5px;
};
